@use "../base/variables" as *;
@use "../base/mixins" as *;

.header-principal {
  background-color: $color-fondo-header;

  .navbar {
    background-color: transparent; // usa el fondo del header
  }

  .nav-link {
    color: $color-texto-header;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover,
    &.active {
      color: $color-acento-hover;
    }
  }

  .navbar-nav {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    gap: 0.5rem;

    @include desktop {
      padding: 0;
      gap: 1.25rem;
    }
  }

  .logo {
    height: 40px;
    width: auto;
    object-fit: contain;

    @include desktop {
      height: 50px;
    }
  }
}
