$fuente-principal: 'Roboto', sans-serif;
$fuente-titulos: 'Montserrat', sans-serif;


.titulo-instalacion {
  color: #ffc107; // Color amarillo/dorado acorde a tu botón y bordes
  font-weight: 700;
  letter-spacing: 0.5px;
}
