// Colores
$color-primario: #2b50aa;
$color-secundario: #ff9800;
$color-fondo: #f4f4f9;
$color-texto: #333333;
$color-fondo-header: #121212;
$color-texto-header: #ffffff;
$color-acento-hover: #ff9800;
$color-fondo-principal: #121212;
$color-texto-principal: #ffffff;



// Tipografías
$fuente-principal: 'Roboto', sans-serif;
$fuente-titulos: 'Montserrat', sans-serif;

// Medidas y espaciados
$espaciado-base: 16px;
$radio-borde: 8px;

// Breakpoints
$bp-mobile: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

